<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= current_page.data.title || "Aida Nogués" %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/a55f26c8ff.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86977352-1', 'auto');
  ga('send', 'pageview');

    </script>

    <%= stylesheet_link_tag :main %>

</head>

<body id="<%= page_classes %>">


    <header>

        <div class="container">

                    <a class="logo" href="index.html">
                        <h2>AIDA NOGUÉS</h2>
                        <h4>VISUAL STRATEGY & DESIGN</h4>
                    </a>

                    <ul class="nav-categories">
                        <li><%= link_to_page "PROJECTS", "/index.html" %></li>
                        <li><%= link_to_page "ABOUT", "/about.html" %></li>
                        <li><%= link_to_page "WORK WITH ME", "/work-with-me.html" %></li>
                    </ul>


        </div>


    </header>


      <%= yield %>


    <footer class="container">
          <i class="fa fa-behance-square fa-2x"></i>
        <a href="https://es.linkedin.com/in/aidanogues"/>
          <i class="fa fa-linkedin-square fa-2x"></i>
          <i class="fa fa-instagram fa-2x"></i>
        <h4>©AIDANOGUÉS | CODED & DESIGNED FOR YOU WITH LOVE</h4>

    </footer>

</body>

</html>
